
<header>
  <h1>Skribbly!</h1>

  <form id="leave-form" action="index.html">   
    <button >Leave Room</button>
  </form>
  
</header>

<div id="game-contents">

  <div id="player-container">
  </div>

  <div id="canvas-container">
    <canvas id="canvas" style="border: 10px solid white">  </canvas>
  </div>

  <div id="tools-container">
    <button id="red-btn" style="background-color: red;"></button>
    <button id="orange-btn" style="background-color: orange;"></button>
    <button id="yellow-btn" style="background-color: yellow;"></button>
    <button id="green-btn" style="background-color: green;"></button>
    <button id="blue-btn" style="background-color: blue;"></button>
    <button id="purple-btn" style="background-color: purple;"></button>
    <button id="white-btn" style="background-color: white;"></button>
    <button id="black-btn" style="background-color: black;"></button>
    <button id="erase-btn" style="background-color: pink;">Eraser </button>
  </div>
  
  <div id="chat-container" style="position: relative;" >
    <main id="chat-main" >
      <div id="chat-messages">
      </div>
    </main>
  
    <div id="chat-form-container" style="position: absolute; bottom:0; width:100%">
      <form id="chat-form" style="bottom:0; width:100%">
        <input
          id="msg"
          type="text"
          placeholder="Message"
          autocomplete="off"
          style="bottom:0; width:90%"
        />
      </form>
    </div>

  </div>
</div>

<script src="/socket.io/socket.io.js"></script> 
<script src="/gameClient.js"></script>