<h1>Login</h1>

<%- include ("./partials/messages") %>

<form action="/users/login" method="POST">
  <input name="email" type="email" id="email-log" placeholder="Email" required
  value="<%= typeof email != 'undefined' ? email : '' %>">


  <input name="password" type="password" id="password-log" placeholder="Password" required>

  <button type="submit">Login</button>
</form>

<form action="/users/register" method="GET">
  <button>Don't have an account?</button>
</form>
<form action="/users/forgot" method="GET">
  <button>Forgot your password?</button>
</form>
